
.layer1 {
    position: flex;
}

.layer1Container {
    padding: 1 em;
    width: 40em;
    height: 20em;
    border-radius: 1.5em;
    margin: 15em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
}

.description {
    color: white;
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

form {
    color: white;
    border: 0.2em solid white;
    border-radius: 2em;
    width: 475px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(250, 0, 0, 0.5), rgba(107, 39, 0, 0.5));
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: rgb(0, 0, 0);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}