
{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<head>
    <link href = "static/code.css" rel = "stylesheet">
</head>

<body>
    <div class = "layer1">
        <div class = "layer1Container">
            <div class = "description">
                This website is Anime 2. The first website I created was with my knowledge of The Odin Project and now I will be implementing what I have learned with CS50 and seeing what else I can add in. The design of the Home page and the skeleton of the code, is from another student in the Odin Project and they will be credited for it. To find them, they are under the sources tab in the head bar. Aside from the homepage, everything else is my own design and I plan to be unique and get this website functioning how I imagine it. Right now, I have implemented flask and next step will be connecting it to an API when I learn more about it. I have created this with roughly about 4 months worth of free knowledge I've accumulated.
                </div>
            </div>
        </div>
    </div>

</body>
<script src = "/static/anime.js"></script>
{% endblock %}