{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="container">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="username" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input id="password" name="password" placeholder="Password" type="password">
        </div>
    <button class="mb-1" type="submit">Log In</button>
</div>
</form>
{% endblock %}