{% extends "layout.html" %}
{% block title %}
    Shop
{% endblock %}

{% block main %}
<head>
    <link href="static/shop.css" rel="stylesheet">
</head>

<body>
    <div class = "layer1">
        <div class = "layer1Container">
            <div class="layer1InfoContainer">
                <div class = "item1Container">
                    <a class = "linkI"><img class = "item1Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item1Subtext">Item 1</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="1">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item2Container">
                    <a class = "linkI"><img class = "item2Image" src ="https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item2Subtext">Item 2</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="2">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item3Container">
                    <a class = "linkI"><img class = "item3Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item3Subtext">Item 3</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="3">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item4Container">
                    <a class = "linkI"><img class = "item4Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item4Subtext">Item 4</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="4">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item5Container">
                    <a class = "linkI"><img class = "item5Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item5Subtext">Item 5</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="5">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item6Container">
                    <a class = "linkI"><img class = "item6Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item6Subtext">Item 6</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="6">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item7Container">
                    <a class = "linkI"><img class = "item7Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item7Subtext">Item 7</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="7">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item8Container">
                    <a class = "linkI"><img class = "item8Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item8Subtext">Item 8</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="8">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>

                <div class = "item9Container">
                    <a class = "linkI"><img class = "item9Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item9Subtext">Item 9</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="9">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>
                <div class = "item10Container">
                    <a class = "linkI"><img class = "item10Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item10Subtext">Item 10</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="10">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>
                <div class = "item11Container">
                    <a class = "linkI"><img class = "item11Image" src = "https://user-images.githubusercontent.com/111708286/205462244-ca6d80d3-5eaf-47c1-afd1-e5fa3f634909.png"></a>
                    <div class = "item11Subtext">Item 11</div>
                    <form action="/cart" method="POST">
                        <input name="id" type="hidden" value="11">
                        <input class="mb-1" type="submit" value="Add to Cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

